# secrets
.env
bot/.env
*.env
.env.*
**/.env
# but allow example/template env files
!*.env.example
!**/.env.example

# python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# virtualenv
.venv/
venv/

# backup files
*.bak
*.bak.*

# logs & dumps
logs/
**/logs/
*.log
db_dumps/
*.dump

# postgres data
db/

# nats data
**/nats/data/

# mac
.DS_Store
.vscode/
.vscode/

.artifacts/*
!.artifacts/.gitkeep

# local backups
backups/
*.bak_*
